@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 0.5rem 0%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  font-family: "Nunito", sans-serif;
}
.navbar-title {
  font-size: 22px;
  font-weight: 1000;
}
.navbar-title span {
  color: #ff5a3c;
}
.link {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  font-size: 17px;
  transition: all 0.5s;
}
.link:hover {
  color: #ff5a3c;
}
.link.active {
  color: #ff5a3c;
}
.login_btn {
  background-color: #f9edeb;
  color: #ff5a3c;
  font-size: 18px;
  padding: 7px 30px;
  font-weight: bold;
  border-radius: 50px;
  border: none;
}
