.services-container {
  font-family: "Roboto", sans-serif;
}
h2 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
}
h2 span {
  background-color: #f9edeb;
  color: #ff5a3c;
  padding: 5px 15px;
  border-radius: 10px;
}
